<div id="add_mirror">Add Source to Mirror</div>

<div id="add_dialog">
	<form id="create_mirror">
		<label for="add_sel">Select a version:</label>
		<select id="add_sel" name="add_sel">
			<% if ( mirrors.length) { %>
			    <% mirrors.forEach(function(m){ %>
			      <option value="<%= m.url %>"><%= m.name %></option>
			    <% }) %>
			<% } %>
		</select>
		<br />
		<input id="packages" type="checkbox" value="packages" name="packages" checked="checked"></input>
		<label for="packages">Get Packages</label>
		<br />
		<input id="sets" type="checkbox" value="sets" name="sets" checked="checked"></input>
		<label for="sets">Get Sets</label>
	</form>
</div>

<br />
<hr />
<br />

<div id="current_mirrors">
	<table id="mirrors_table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Version</th>
			<th>URL</th>
			<th>Last Checked</th>
			<th>Next Update</th>
			<th>Active</th>
		</tr>
	</thead>
		<% if ( curr_mirr.length ) { %>
			<% curr_mirr.forEach( function( l ) { %>
			<tr>
				<td><%= l.id %></td>
				<td><%= l.version %></td>
				<td><%= l.url %></td>
				<td><%= l.last_update %></td>
				<td><%= l.next_check %></td>
				<td><%= l.active %></td>
			</tr>
			<% }) %>
		<% } %>
		<tfoot>
		<tr>
			<th>ID</th>
			<th>Version</th>
			<th>URL</th>
			<th>Last Checked</th>
			<th>Next Update</th>
			<th>Active</th>
		</tr>
	</tfoot>
	</table>
</div>
