<div id="add_mirror">Add Source to Mirror</div>

<div id="add_dialog">
	<form id="create_mirror">
		<label for="add_sel">Select a release:</label>
		<select id="add_sel" name="add_sel">
		</select>
		<br />
		<input id="packages" type="checkbox" value="packages" name="packages" checked="checked"></input>
		<label for="packages">Get Packages</label>
		<br />
		<input id="sets" type="checkbox" value="sets" name="sets" checked="checked"></input>
		<label for="sets">Get Sets</label>
	</form>
</div>

<br />
<hr />
<br />

<div id="current_mirrors">
	<table id="mirrors_table">
		<thead>
		<tr>
			<th>Release</th>
			<th>URL</th>
			<th>Last Checked</th>
			<th>Schedule</th>
			<th>Active</th>
		</tr>
	</thead>
		<% if ( curr_mirr ) { %>
			<% curr_mirr.forEach( function( l ) { %>
			<tr>
				<td><%= l.release %></td>
				<td><%= l.url %></td>
				<td><%= l.lastupdate %></td>
				<td><%= l.schedule %></td>
				<td><%= l.active %></td>
			</tr>
			<% }) %>
		<% } %>
		<tfoot>
		<tr>
			<th>Release</th>
			<th>URL</th>
			<th>Last Checked</th>
			<th>Schedule</th>
			<th>Active</th>
		</tr>
	</tfoot>
	</table>
</div>
